.not-found[data-v-d34658ad]{height:100vh;display:flex;align-items:center;justify-content:center;background:#fff}.bottom-button[data-v-d34658ad]{width:160px;height:40px;background:var(--brand-green);border:none}
